.accordion {
  padding: 1.5rem;
  margin-bottom: 1rem;
  min-width: max-content;
  background-color: #020202;
}

.accordion .head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5rem;
  cursor: pointer;
}
.hide {
    display: none;
}

